<nav class="w-full bg-[#000080] text-white h-[7%] flex items-center">
        <div class="flex justify-between w-full">
                <div class="ml-20">
                        E-Commerce
                </div>
                <div class="flex gap-8 mr-20">
                        <div class="text-gray-400 hover:text-white cursor-pointer active:text-white">
                                <a href="/e-commerce">Home</a>
                        </div>
                        <div class="text-gray-400 hover:text-white cursor-pointer active:text-white">
                                <a href="/e-commerce/products">Products</a>
                        </div>
                </div>
        </div>
</nav>